/* adding code for font styling here */
h1,h4 {text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: black;}
    


h2,h3 {text-align: center;
font-size: 30px;
font-weight: bold;
font-style: italic;
color: gold;
}

p,ul,ol {font-family: 'Times New Roman', Times, serif;
font-size: 18px;
color: white}

div,article { padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    height: auto;
    border: 1px solid gold;
    border-radius: 25px;
}


/*code for centering containers*/

.portfolio_selfie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
.text-centered {
    text-align: center;
  }
.wrapper {
    width: 500px;
    margin: auto;
  }
/*colors for the backgrounds */
body {background-color: black;}
header {background-color: gold;}
footer {text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    background-color: gold;}
/* link styling*/
a:link {
    color: red;
  }
  a:visited {
    color: gold;
  }
  a:hover {
    color: pink;
  }
  a:active {
    color: blue;
  }


